.hello-container{
    margin: 20px;
    width: 300px;
}

.hello-text{
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}

.left-menu-nav{
    margin: 20px;
}

.left-menu-nav ul{
    list-style: none;
    padding: 0;
}

.left-menu-nav ul a{
    text-decoration: none;
}

.left-menu-nav li div.blue-button{
    position: relative;
    padding-left: 15px;
    display: block;
    min-height: 44px;
    color: #fff;
    font-size: 14px;
    line-height: 44px;
    text-decoration: none;
    text-transform: uppercase;
    background: #0034D1;
    border-bottom: 5px #00289E solid;
    margin-bottom: 15px;
}


.left-menu-nav li  div.blue-button:hover{
    background-color: #003DF2;
}

.home-right-container .hello-text{
    margin-top: 20px;
}

.password-reset-container{
    margin: 20px;
}

.personal-info{
    width: 90%;
    margin: 20px 10px 20px 10px;
    padding: 10px;
    background-color: white;
    border: 1px solid gray;
}

.personal-info td{
    padding: 10px;
}