<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="NewBehavior0">
          <callbackDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="NewBehavior0">
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IBankService" />
        <binding name="ExRatesSoap" />
      </basicHttpBinding>
    </bindings>

      <client>
          <endpoint address="http://www.nbrb.by/Services/ExRates.asmx" behaviorConfiguration="NewBehavior0" binding="basicHttpBinding" bindingConfiguration="ExRatesSoap" contract="ServiceReference2.ExRatesSoap" name="ExRatesSoap" />
          <endpoint address="http://internet-bank-service.azurewebsites.net/BankService.svc/BankService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBankService" contract="ServiceReference1.IBankService" name="BasicHttpBinding_IBankService" />
      </client>
  </system.serviceModel>

  <connectionStrings>

    <!--<add name="IBankContext" connectionString="Data Source=Localhost\SQLEXPRESS;Initial Catalog=iBankDB;Integrated Security=SSPI;MultipleActiveResultSets=true;"
     providerName="System.Data.SqlClient" />

    <add name="BankContext" connectionString="Data Source=Localhost\SQLEXPRESS;Initial Catalog=BankDB;Integrated Security=SSPI;MultipleActiveResultSets=true;"
         providerName="System.Data.SqlClient" />-->

    <!--<add name="IBankConnectionString" providerName="System.Data.SqlClient" connectionString="Server=tcp:zowzk6qgqp.database.windows.net,1433;Database=InternetBank;User ID=InternetBankServer@zowzk6qgqp;Password=!Circa900;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;MultipleActiveResultSets=True" />-->
    <add name="IBankConnectionString" providerName="System.Data.SqlClient" connectionString="Server=tcp:g95qalu4mu.database.windows.net,1433;Database=InternetBank;User ID=InternetBankServer@g95qalu4mu;Password=!Circa900;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;MultipleActiveResultSets=True" />
    
    
  </connectionStrings>

</configuration>