@using System.Web.Optimization
@model String

@{
    ViewBag.Title = "Message";
    Layout = "~/Views/Shared/_MainLayoutPage.cshtml";
}

@Styles.Render("~/Home/Payments/css")

<br/>
<h1 style="text-align:center">@Model</h1>

